<style type="text/css">
	td.actions.text-center {
    width: 184px;
	}
</style>

<div class="container" ng-controller="ContatosController">
	<p ng-show="mensagem.texto">
		{{mensagem.texto}}
	</p>
	<p>&nbsp;</p>
	<div class="alert alert-info">
		<p>Qtd. Contatos cadastrados: {{contatos.length}} | Tipo de ordenação: {{ sortType }} | Ordenação inversa: {{ sortReverse }} | Parâmetro de pesquisa: {{ filtro }}</p>
	</div>

	<div class="row">
		<div class="col-md-8">
			<label for="busca">Busca:</label>
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input type="text" class="form-control" placeholder="Procurar estabelecimentos comerciais" ng-model="filtro">
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-2">
			<label for="pageSize">Items por página:</label>
			<input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
		</div>

		<div class="col-md-1" style="margin-top: 25px;">
			<a ng-href="#/contato" class="btn btn-primary">Novo Contato</a>
		</div>

	</div>


	<p class="text-info" ng-hide="contatos.length">
		Não há contatos cadastrados
	</p>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>
					<a href="" ng-click="sortType = 'nome'; sortReverse = !sortReverse">
						Nome
						<span ng-show="sortType == 'nome' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'nome' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
						E-mail
						<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="" ng-click="sortType = 'inclusao'; sortReverse = !sortReverse">
						Data Inclusão
						<span ng-show="sortType == 'inclusao' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'inclusao' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="" ng-click="sortType = 'telefone'; sortReverse = !sortReverse">
						Telefone
						<span ng-show="sortType == 'telefone' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'telefone' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td>
					<a href="" ng-click="sortType = 'categoria'; sortReverse = !sortReverse">
						Categoria
						<span ng-show="sortType == 'categoria' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'categoria' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td></td>
				<!-- <td><a href="">Ação</a></td> -->
			</tr>
		</thead>

		<tbody>
			<!-- <tr ng-repeat="contato in contatos | orderBy:sortType:sortReverse | filter:filtro"> -->
			<tr dir-paginate="contato in contatos | orderBy:sortType:sortReverse | filter:filtro | itemsPerPage: pageSize" current-page="currentPage">
				<td><a ng-href="#/contato/{{contato._id}}">{{ contato.nome }}</a></td>
				<td>{{ contato.email }}</td>
				<td>{{ contato.inclusao | date:'dd/MM/yyyy - h:mma'}}</td>
				<td>{{ contato.email }}</td>
				<td>{{ contato.categoria }}</td>
				<!-- <td>
					<a ng-href="#/visualizar/{{contato._id}}">Visualizar</a>
				</td> -->
				<td class="actions text-center">
					<a class="btn btn-success btn-xs" ng-href="#/visualizar/{{contato._id}}">Visualizar</a>
					<a class="btn btn-warning btn-xs" ng-href="#/contato/{{contato._id}}">Editar</a>
					<a class="btn btn-danger btn-xs"  href="" data-toggle="modal" data-target="#delete-modal">Excluir</a>
				</td>

				<!-- <td class="text-center">
					<button
					ng-click="remove(contato)"
					class="btn btn-warning">
					Remover
				</buttom>
			</td> -->
		</tr>
	</tbody>
</table>

<!-- Paginação -->
<div ng-controller="ContatosController" class="other-controller">
	<div class="text-center">
		<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
	</div>
</div>
</div>

<!-- Modal de exclusão -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
            </div>
            <div class="modal-body">Deseja realmente excluir este item? </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
            </div>
        </div>
    </div>
</div>
