<div class="container">
  <div class="jumbotron">
    <!-- <h1>EncontredeTudo</h1>
    <!-- <p>In today's world internet is the most popular way of connecting with the people. At <a href="http://www.tutorialrepublic.com" target="_blank">tutorialrepublic.com</a> you will learn the essential of web development technologies along with real life practice example, so that you can create your own website to connect with the people around the world.</p>
    <p><a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
  -->
  <div class="col-md-12">
  <img src="http://www.buscatudo.net/images/logo_buscatudo.jpg" alt="PegaTudo" class="img-responsive img-rounded">
  </div>
  
  <div class="row pnlPesquisa">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" style="width: 370px;" placeholder="Pesquisar estabelecimentos comerciais">
      </div>
      <button type="submit" class="btn btn-default" ng-click="remove()"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div> 
</div>
<div class="row">
  <div class="col-xs-4">
    <h2>Categorias</h2>
    <p>Lista todas as principais categorias do site.</p>
    <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
  </div>
  <div class="col-xs-4">
    <h2>Cidades</h2>
    <p>Lista os comercios mais procurados por cidade.</p>
    <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
  </div>
  <div class="col-xs-4">
    <h2>Populares</h2>
    <p>Lista os comercios mais procurados no site.</p>
    <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <footer>
      <p>&copy; Copyright 2016 EncontredeTudo</p>
    </footer>
  </div>
</div>
</div>
