<div class="container-fluid">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">EncontreTudo | Login</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Esqueceu a senha?</a></div>
            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div ng-show="mensagem.texto" id="login-alert" class="alert alert-danger col-sm-12">
                    {{mensagem.texto}}
                </div>

                <form id="loginform" class="form-horizontal" role="form" ng-submit="loginUsuario(loginform)">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuário" ng-model="usuario.login">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Senha" ng-model="usuario.password">
                    </div>



                    <div class="input-group">
                      <div class="checkbox">
                        <label>
                          <input id="login-remember" type="checkbox" name="remember" value="1"> Lembrar
                      </label>
                  </div>
              </div>


              <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                  <!-- <a id="btn-login" href="#" class="btn btn-success">Login  </a> -->
                  <button id="btn-login" type="submit" class="btn btn-success"><i class="icon-hand-right"></i> Login</button>
                  <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login com Facebook</a>-->

              </div>
          </div>

          <!-- Redes Sociais -->
          <div class="container">
            <div class="row">
            <div class="col-md-4">
                    <a class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);" href="/auth/facebook">
                        <span class="fa fa-facebook"></span> Logar com Facebook
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-block btn-social btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']); " href="/auth/github">
                        <span class="fa fa-github"></span> Logar com GitHub
                    </a>
                </div>
            </div>
        </div>
        <br />
        <!-- Fim Redes Sociais -->

        <div class="form-group">
            <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                    Não tem uma conta!
                    <a href="#/cadastro_usuario" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                        Crie uma agora.
                    </a>
                </div>
            </div>
        </div>
    </form>



</div>
</div>
</div>
