<style type="text/css">

 /* Table Base */

 table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
}

.table {
  border-bottom: #999999 solid 1px;
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  border-right: #999999 solid 1px;
  font-size: 12px;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}

.table td:last-child {
 border-right: 0;
}

.table thead th {
  font-weight: normal;
  background-color: #005dab;
  color: #fff;
  font-size: 15px;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #f8f8f8;
}


/* Small Sizes */
@media (max-width: 767px) {

  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }


  .table td:last-child {
   border-right: #999999 solid 1px;
 }


}


</style>

<div class="container">

  <div class="row">
    <div class="col-sd-12">
      <img src="http://www.buscatudo.net/images/logo_buscatudo.jpg" alt="PegaTudo" class="img-responsive" style="margin: 0 auto;float: none; margin-bottom: 50px;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="span12" style="text-align:center; margin: 0 auto;">

        <form role="search" id="formPesquisarcontato" name="formPesquisarcontato" ng-submit="PesquisarContato(formPesquisarcontato)" class="form-horizontal" style="margin: 0 auto;" >

<!--         <form class="navbar-form navbar-left" role="search" id="formPesquisarcontato" name="formPesquisarcontato" ng-submit="PesquisarContato(formPesquisarcontato)">
-->

<div class="control-group">
  <div class="controls">
    <input type="text" class="form-control" id="pBusca" name="pBusca" placeholder="Pesquisar estabelecimentos comerciais" required ng-model="pBusca" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Pesquisar</button>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-2">
</div>
<br />

<!-- RESPONSIVE TABLE -->
<div ng-show="mensagem.texto" class="row">
  <p>Quantidade de contatos cadastrados: {{contatos.length}}</p>

  <table class="table table-responsive">

    <thead>
      <tr>
        <th>#</th>
        <th>Estabelecimento</th>
        <th>Telefone</th>
        <th>Site</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Redes Sociais</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="contato in contatos">
        <td>{{$index}}</td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td><a href="{{contato.site}}" target="_blank">Acesse o site</a></td>
        <td>{{contato.cidade}}</td>
        <td>{{contato.estado}}</td>
        <td>

          <a class="btn btn-social-icon btn-facebook">
            <span class="fa fa-facebook"></span>
          </a>

          <a class="btn btn-social-icon  btn-twitter ">
            <Span class = "fa fa-twitter"> </ span>
            </a>

            <a class="btn btn-social-icon  btn-google ">
              <Span class = "fa fa-google"> </ span>
              </a>

              <a class="btn btn-social-icon  btn-instagram ">
                <Span class = "fa fa-instagram"> </ span>
                </a>

              </td>
              <td>
                <a ng-href="#/visualizar/{{contato._id}}">Visualizar</a>
              </td>
            </tr>
          </tbody>

        </table>
        <!-- END RESPONSIVE TABLE -->

      </div>
    </div>


    <div class="row" ng-show="!filtro">
      <div class="col-md-4">
        <h2>Categorias</h2>
        <p>Lista todas as principais categorias do site.</p>
        <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Cidades</h2>
        <p>Lista os comercios mais procurados por cidade.</p>
        <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Populares</h2>
        <p>Lista os comercios mais procurados no site.</p>
        <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Visualizar &raquo;</a></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-xs-12">
        <footer>
          <p>&copy; Copyright 2016 EncontredeTudo</p>
        </footer>
      </div>
    </div>
  </div>


  <!-- Original de formulario centralizado -->
<!-- <div class="row">
  <div class="span12" style="text-align:center; margin: 0 auto;">
    <form class="form-horizontal" style="width: 400px; margin: 0 auto;" method="post" action="/form/">
      <fieldset>
        <legend>Please login</legend>
        <div class="control-group">
          <label class="control-label" for="id_username">Username</label>
          <div class="controls">
            <input name="username" maxlength="100" placeholder="Enter your username..." type="text" class="input-large" id="id_username" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="id_password">Password</label>
          <div class="controls">
            <input name="password" maxlength="100" placeholder="Enter your password..." type="password" class="input-large" id="id_password" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
 -->
