<!-- partials/contato.html -->
<h1 class="text-center">{{contato.nome}}</h1>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<form ng-submit="salva()">
	<div class="form-group">
		<label for="nome">Nome completo</label>
		{{contato.nome}}
	</div>
	<div class="form-group">
		<label for="categoria">Categoria</label>
		<!-- <input type="text" class="form-control" id="categoria"
		name="categoria" required ng-model="contato.categoria"> -->
		{{contato.categoria}}
	</div>
	<div class="form-group">
		<label for="endereco">Endereço</label><!--
		<input type="text" class="form-control" id="endereco"
		name="endereco" required ng-model="contato.endereco"> -->
		{{contato.endereco}}
	</div>
	<div class="form-group">
		<label for="cidade">Cidade</label>
		<!-- <input type="text" class="form-control" id="cidade"
		name="cidade" required ng-model="contato.cidade">
	-->{{contato.cidade}}
</div>
<div class="form-group">
	<label for="estado">Estado</label>
<!-- 		<input type="text" class="form-control" id="estado"
		name="endereco" required ng-model="contato.estado">
	-->		{{contato.estado}}
</div>

<div class="form-group">
	<label for="telefone">Telefone</label>
		<!-- <input type="text" class="form-control" id="telefone"
		name="telefone" required ng-model="contato.telefone" >
	-->{{contato.telefone}}
</div>
<div class="form-group">
	<label for="site">Site</label>
		<!-- <input type="text" class="form-control" id="site"
		name="site" required ng-model="contato.site"> -->
		{{contato.site}}
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<div class="input-group">
			<!-- <span class="input-group-addon">@</span>
			<input type="email" class="form-control" id="email"
			placeholder="email@exemplo.com" name="email"
			ng-model="contato.email" required> -->
			{{contato.email}}
		</div>
	</div>
	<div class="form-group">
		<label for="observacao">Observação:</label>
		{{contato.observacao}}
	</div>
	<div class="form-group">
		<label for="observacao">Observação:</label>
		{{contato.observacao}}
	</div>
	<div class="form-group">
		<label for="DataInclusao">Inclusão:</label>
		{{ contato.inclusao | date:'dd/MM/yyyy - h:mma'}}
	</div>
	<div>
		<a href="#/contatos" class="btn btn-default">Voltar</a>
	</div>
</form>
